*{
display: block;
font-family: sans-serif;

margin: 20px 20px 5px;
}
#search{
color: rgb(65, 199, 177);
border: 2px solid rgb(65, 199, 177);
border-radius: 25px;
font-weight: bold;
padding: 5px 40px;
 
}

#plus{
border-radius: 50px;
border:none;
color: white;
height: 40px; width: 40px;
background-color: rgb(65, 199, 177);
font-size: 25px;
 
}

#createAccount{
color: white;
background-color: blue;
font-size: 20px;
border: 2px solid black;
padding: 5px 20px;
box-shadow: 2px 5px black;
}

